@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
}

*,
  *::before,
  *::after{
    box-sizing: inherit;
  }

body{
    font-family:"Montserrat", serif;
    font-size: 20px;
    background-color: #FCFBFF;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    margin-top: 44px;
}

.navbar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu__mini-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__text{
    color:#244D4D;
}

.menu__list{
    margin:0 20px;
}

.menu__button{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap:4px;
    justify-content: space-between;
    background-color: transparent;
    border:none;
    margin-left: 32px;
}

.menu__button span{
    background-color: #244D4D;
    width:24px;
    height:2.5px;
}

.menu__img{
    max-height:21px;
    max-width:21px;
}

.home{
    display: flex;
    flex-direction:row;
    margin-top: 26px;
}

.home__img{
    max-width:411px;
    max-height:560px;
}

.home__info{
    background-color:#154444 ;
    color:white;
    padding-top: 101px;
    padding-left: 100px;
}

.home__head{
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
}

.home__text{
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
}

.home__btn{
    height:56px;
    width:172px;
    border:none;
    color:#154444;
    background-color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    margin-top: 35px;
    cursor: pointer;
}

.companies{
    margin-top: 140px;
}

.companies__header{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #244D4D;
    text-align: center;
}

.companies__box{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}  

.about-us{
    margin-top: 166px;
    display: flex;
    flex-direction: row;
}

.about-us__img{
    margin-top: -26px;
    position: absolute;
    max-width: 596px;
    max-height: 577px;
}   

.about-us__bg{
    background-color:#DEE4E2;
    width: 631px;
    height: 586px;
}

.about-us__pt2{
    margin-left: 100px;
}

.about-us__header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #244D4D;
}

.about-us__text{
    margin-top: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
}

.about-us__box{
    display: flex;
    flex-direction: column;
}

.about-us__box2{
    display: flex;
    list-style-type:none;
}

.about-us__item{
    display: flex;
    margin-top: 30px;
}

.about-us__mini-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #244D4D;
    margin-left: 30px;
    margin-bottom: 14px;
}

.about-us__mini-text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #383738;
    margin-left: 30px;
}

.furniture{
    margin-top: 140px;
}

.furniture__box{
    display: grid;
    list-style-type:none;
}   

.furniture__item-2{
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
}

.furniture__head-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    color: #242424;
    text-align: start;
}

.furniture__main-text{
    text-align: start;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #383738;
    margin-top: 20px;
}

.furniture__main-box{
    margin-top: 80px;
}

.furniture__main-item{
    background-color: #FFFFFF;
    min-width: 0;
}

.furniture__main-indentation{
    margin:24px 30px;
}

.furniture__main-box-pt1{
    display: flex;
    justify-content: space-between;
    min-width: 0;
}

.furniture__main-box-pt2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 0;
}

.furniture__main-box-button{
    width: 78.85px;
    height: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
    background-color:#244D4D;
    border:none;
    cursor: pointer;
}

.furniture__main-box-text{
    display: flex;
    justify-content: flex-start;
    margin-bottom:-20px;
}

.second-item{
    margin:0 30px;
}

.furniture__main-box-img{
    display: flex;
    justify-content: flex-end;
}
.furniture__main-box-img img{
    cursor: pointer;
}

.swiper-button-next, .swiper-button-prev{
    position:static;
    width:41px;
    height:41px;
}

@media(max-width:1080px){
    .about-us{
        margin-top: 166px;
        display: flex;
        flex-direction: column;
    }
    .about-us__img{
        margin-left: 100px;
    }
    .about-us__bg{
        margin-left: 100px;
    }
}

@media(max-width:960px){

    .home__info{
    padding-top: 51px;
    padding-left: 50px;
    }
}

@media(max-width:820px){
    .home__head{
        font-size: 42px;
    }
    .home__text{
        font-size: 18px;
    }
    .home{
        display: flex;
        flex-direction: column;
        margin-top: 26px;
    }
    .home__info{
        padding-bottom: 26px;
    }
}   

@media(max-width:740px){

    .about-us__img{
        max-width: 496px;
        max-height: 477px;
    }   
    .about-us__bg{
        width: 531px;
        height: 486px;
    }
}

@media(max-width:640px){

    .about-us__img{
        max-width: 396px;
        max-height: 377px;
    }   
    .about-us__bg{
        width: 431px;
        height: 386px;
    }
    .about-us__header{
        font-size: 24px;
    }
    .about-us__item{
        margin-top: 15px;
    }
    .about-us__text{
        font-size: 16px;
        margin-top: 10px;
    }
    .about-us__mini-header{
        font-size: 16px;
        margin-left: 20px;
        margin-bottom: 0;
    }
    .about-us__mini-img{
        height:40px;
        width:40px;
    }
}

@media(max-width:540px){
    .about-us__img{
        max-width: 296px;
        max-height: 277px;
    }   
    .about-us__bg{
        width: 331px;
        height: 286px;
    }
    .about-us__mini-img{
        height:35px;
        width:35px;
    }
}

@media(max-width:440px){

    .about-us__img{
        max-width: 196px;
        max-height: 177px;
    }   
    .about-us__bg{
        width: 231px;
        height: 186px;
    }
}